



* {
    font-family: 'Raleway', sans-serif;
    font-size: clamp(10px,3vw,14px);
    line-height: 1.3;
    color: #27272A;
}

html {
    height: 100%;
    overflow: scroll;
    
}

body {
    background-image: url("background.svg");
    overflow-x: scroll;
    background-repeat: repeat;
    background-size: cover;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 20px;
    height: min-content;
    padding-top: 3vh;
    padding-bottom: 2vh;
    margin-left: 0;
    margin-right: 0;
    
}

.greetex {
    justify-self: center;
    justify-items: center;
    width: clamp(250px,80vw,400px);
    height: clamp(300px,45vh,500px);
    margin: auto;
    display: grid;
    row-gap: 1vw;
    padding: 5vw;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,0.7fr) repeat(4,1.4fr) repeat(8,1fr);
    overflow: hidden;
    align-content: space-around;
    border: #3d4341 solid;
    border-width: 1px;
    border-radius: 5px;
    align-items: center;   
}

h5 {
    margin: 0;
}

.weveGreeted {
    justify-self: center;
    width: clamp(250px,80vw,400px);
    height: auto;
    margin: auto;
    display: grid;
    padding: 5vw;
    grid-template-columns: 1fr;
    row-gap: 2vw;
    align-content: start;
    justify-content: center;
    border: #3d4341 solid;
    border-width: 1px;
    border-radius: 5px; 
    margin: 0;
}

.language {
    height: clamp(8px,2.5vw,10px);;
}

.heading {
    grid-column: span 4;
    grid-row: 1 / span 2;
}

.alreadyGreeted {
    grid-column: span 4;
    grid-row: 3 / span 3;
}

.name {
    grid-column: span 4;
    grid-row: 6;
    text-align: center;
}

.english {
    grid-column:  2 / 4;
    grid-row: 7;
}

.swahili {
    grid-column:  2 / 4;
    grid-row: 8;
}

.hungarian {
    grid-column:  2 / 4;
    grid-row: 9;
}

.greetMe {
    grid-column:  2 / 4;
    grid-row: 10 / span 2;
    width: min-content;
    justify-self: center;
    border: none;
    border-radius: 5px;
    padding: clamp(5px,1.5vw,10px);
}

.message {
    grid-column: 1 / span 4;
    grid-row: 3 / span 3;
    justify-self: center;
   
}

.more {
    color: lightslategray;
    list-style-type: " - ";

}

.reset {
    grid-column:  2 / 4;
    grid-row: 12 / span 2;
    width: min-content;
    justify-self: center;
    padding: clamp(5px,1.5vw,10px);
    border: none;
    border-radius: 5px;
}

.test {
    grid-column: 2 / span 2;
    grid-row: 14;
    width: 100%;
    text-align: center;
    
}

h1 {
    font-family: 'Alice', serif;  
    font-size: clamp(18px,7vw,24px);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    align-self: start;
}

h2 {
    font-family: 'Alice', serif;  
    font-size: clamp(12px,4vw,18px);
    text-align: center;
    margin: 0;
    padding: 0;

}

p {
    font-family: 'Raleway', sans-serif;
    font-size: clamp(5px,2.5vw,12px);
    margin: 0;
}

.hidden {
    display: none;
}
ul {
    margin: 0;
    list-style-type: " + ";
}
li:hover {
    color: mediumpurple;
}

li p {
    color: lightslategray;
}
table {
    text-align: center;
}


@media only screen and (min-width: 600px) {
 * {
        font-family: 'Raleway', sans-serif;
        font-size: clamp(14px,1.5vw,32px);
        line-height: 1.3;
    }
    
    body {
        height: auto;
        width: auto;
        overflow: hidden;
        margin: 0;
        background-image: url("background.svg");
        background-repeat: repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        grid-template-rows: auto;
        justify-content: start;
        align-content: start;
        padding-top: 40px;
        padding-left: 40px;
        
    }
    

    .greetex {
        width: clamp(200px,50vw,1000px);
        height: auto;
        justify-self: left;
        align-self: start;
        grid-column: 1;
        margin: 0;
        display: grid;
        padding: 2vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.75fr 2.5fr repeat(5,1fr);
        overflow: hidden;
        row-gap: 1vw;
        align-content: space-around;
        align-items: center;
        border: #3d4341 solid;
        border-width: 1px;
        border-radius: 5px;
        
    
        
    }

    .weveGreeted {
        width: clamp(100px,35vw,800px);
        justify-self: start;
        align-self: start;
        padding: 2vw;
        grid-column: 2;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        row-gap: 2vw;
        align-content: start;
        border: #3d4341 solid;
        border-width: 1px;
        border-radius: 5px;
        overflow: scroll; 
    }



    
    input[type=radio] {
        border: 0px;
        width: 1.5vh;
        height: 1.5vh;
    }
    
    .heading {
        grid-column: 1 / span 3;
        grid-row: 1;
        align-self: start;
        margin: 0;
    }
    
    .alreadyGreeted {
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    
    .name {
        grid-column: 2 / 3;
        grid-row: 3;
        text-align: center;
    }
    
    .english {
        grid-column: 1 / span 1;
        grid-row: 4;
        justify-self: center;
    }
    
    .swahili {
        grid-column: 2 / span 1;
        grid-row: 4;
        justify-self: center;
    }
    
    .hungarian {
        grid-column: 3 / span 1;
        grid-row: 4;
        justify-self: center;
    }
    
    .greetMe {
        grid-column: 2 / 3;
        grid-row: 5;
        width: min-content;
        justify-self: center;
        border: none;
        border-radius: 5px;
        padding: 1vh;
    }
    
    .message {
        grid-column: 1 / span 3;
        grid-row: 2;
        justify-self: center;
       
    }
    
    
    .reset {
        grid-column: 2 / 3;
        grid-row: 6;
        width: min-content;
        justify-self: center;
        padding: 1vh;
        border: none;
        border-radius: 5px;
    }
    
    .test {
        grid-column: 2 / span 1;
        grid-row: 7;
        width: 100%;
        height: 100%;
        align-self: center;
        justify-self: center;
        
    }

    h1 {
        font-family: 'Alice', serif;  
        font-size: clamp(5px,4vw,40px);
        text-align: center;
        margin-top: 1vw;
        margin-bottom: 0;
        align-content: center;
    }
    
    h2 {
        font-family: 'Alice', serif;  
        font-size: clamp(5px,2vw,40px);
        text-align: center;
        margin: 0;
        padding: 0;
    
    }
    
    p {
        font-family: 'Raleway', sans-serif;
        font-size: clamp(10px,1vw,14px);
        margin: 0;
    }

    .hidden {
        display: none;
    }
    
  }
