* {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vw;
    line-height: 1.3;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url("background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    
}

.greetex {
    
    width: 80vw;
    height: 80vh;
    margin: auto;
    display: grid;
    padding: 3vw;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    row-gap: 2vw;
    align-content: center;
    border: #3d4341 solid;
    border-width: 1px;
    border-radius: 5px;
    

    
}

.language {
    height: 2.5vw;
}

.heading {
    grid-column: 1 / span 3;
}

.alreadyGreeted {
    grid-column: span 3;
}

.name {
    grid-column: 2 / 3;
    text-align: center;
}

.english {
    grid-column: 1 / span 1;
    grid-row: 4;
    justify-self: center;
}

.swahili {
    grid-column: 2 / span 1;
    grid-row: 4;
    justify-self: center;
}

.hungarian {
    grid-column: 3 / span 1;
    grid-row: 4;
    justify-self: center;
}

.greetMe {
    grid-column: 2 / 3;
    grid-row: 5;
    width: min-content;
    justify-self: center;
    border: none;
    border-radius: 5px;
    padding: 1vw;
}

.message {
    grid-column: 1 / span 3;
    grid-row: 6;
    justify-self: center;
   
}


.reset {
    grid-column: 2 / 3;
    grid-row: 7;
    width: min-content;
    justify-self: center;
    padding: 1vw;
    border: none;
    border-radius: 5px;
}

h1 {
    font-family: 'Alice', serif;  
    font-size: 6vw;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 0;
    align-content: center;
}

h2 {
    font-family: 'Alice', serif;  
    font-size: 3vw;
    text-align: center;
    margin: 0;
    padding: 0;

}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vw;
    margin: 0;
}


/*COLORS*/
.darkgreen-background {
    background-color: #21452b;
}

.darkgreen {
    color: #21452b;
}

.bone-background {
    background-color:#E6E5DD;
}

.bone {
    color:#E6E5DD;
}

.darkgrey-background {
    background-color: #3d4341;
}

.darkgrey {
    color: #3d4341;
}

.lightgreen-background {
    background-color: #bfd9c6;
}

.lightgreen {
    color: #bfd9c6;
}

.pink-background {
    background-color: #A95765;
}

.pink {
    color: #A95765;
}

.lightpink-background {
    background-color: #fde7ea;
}

.lightpink {
    color: #fde7ea;
}