<div class="greetex whitecb1BG">
        <h1 class="heading darkgreen">Greetings!</h1>
        <h2 class="greeting">{{messages.greeting}}</h2>
        <h2 class="alreadyGreeted">{{messages.info}}</h2>
        <h2 class="error"> {{messages.error}}</h2>
        <form action='/greet' method="POST">
            <input type="text" name="username" placeholder="enter your name" class="name">
        <div class="english">
            <input type="radio" name="languageRadio" class="language" value="english">
            <label for="english">English</label>
        </div>
        <div class="swahili">
            <input type="radio" name="languageRadio" class="language" value="swahili">
            <label for="swahili">Kiswahili</label>
        </div>
        <div class="hungarian">
            <input type="radio" name="languageRadio" class="language" value="hungarian">
            <label for="hungarian">Hungarian</label>
        </div>
        <input type="submit" class="greetMe greencb2BG" name="button" value="Greet me!">
        <input type="submit" formaction="/reset" class="reset purplecbBG" name="button" value="Reset">
        </form>
        <a class="visitors-link" href="/greeted"><h5>Who else have we greeted?</h5></a>
    </div>    