
    <div class="weveGreeted whitecb1BG">
        <h2>Take a look at who we've greeted so far.</h2>
        <h2>or</h2>
        <a href="/"><h2>← Do some more greeting</h2></a>
        <ul class="nameList">
            {{#each userList}}
            <li><a href={{{userRoute}}}>{{username}}</a></li>
            {{/each}}
        </ul>
    </div>
        
